textarea {
  border: none;
  outline: none;
  resize: none; /* Prevent resizing */
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea::placeholder {
  display: flex;
  justify-content: start;
}


body{
  font-family: 'Arial', Helvetica, sans-serif;
}


#chat {
  max-height: 400px; 
  overflow-y: auto;
  display: flex; /* or display: inline-flex; */
  flex-direction: column; /* or row, depending on your layout */
  padding:40px;
}


.message {
  word-wrap: break-word;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
  display: inline-block; /* Make the message width dynamic based on content */
  max-width: 500px; /*  maximum width to prevent excessively long lines */
  word-wrap: break-word; /* Wrap long words if they exceed the width */
  margin: 5px; /*  margin for better spacing between messages */
  padding: 8px; /*  padding for a visually appealing message */
  border-radius: 5px; /*  border-radius for rounded corners */
  
  
}


.bot {
  background-color: #f0f0f0;
  color: #000;
  align-self: flex-start;
  max-width:500px;
  word-wrap: break-word;
  
  
}

/* the scrollbar */
#chat::-webkit-scrollbar {
  width: 5px; 
  
}

#chat::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

#chat::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

.message {
  margin-bottom: 10px;
  position: relative;
}

.message img {
  position: absolute;
  bottom: 100%;
}

.message.user img {
  right: 0%;
}

.message.bot img {
  left: 0%;  
}

.message-content {
  padding: 8px;
  background-color: #f3f4f6;
  border-radius: 8px;
  display: inline-block;
}

.message.bot .message-content {
  background-color: #dbeafe;
}

.message.user .message-content {
  background-color: #d1fae5;
}

